# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [5]:
XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

    10 countries with the lowest infant mortality rates
    10 cities with the largest population
    10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
    name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [6]:
#XML exercise
#Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find
#10 countries with the lowest infant mortality rates
#10 cities with the largest population
#10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
#name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [1]:
#Solution 1
from xml.etree import ElementTree as ET
import pandas as pd

In [2]:
#1. Listing coutries(10) with lowest IMR(Infant Mortality)
mondial_DB = ET.parse('./data/mondial_database.xml')
mondial_dataFrame = pd.DataFrame(columns=['Nation','IMR'])
mondial_dataFrame

for element in mondial_DB.iterfind('country'):
    if not element.find('infant_mortality') is None:
        inner_dataFrame=pd.DataFrame([[element.find('name').text,element.find('infant_mortality').text]],
                                     columns=['Nation','IMR'])
        mondial_dataFrame = mondial_dataFrame.append(inner_dataFrame)
        
mondial_dataFrame['IMR']=pd.to_numeric(mondial_dataFrame['IMR']) #,errors='coerce') #other error correction parameters can be used here
mondial_dataFrame.sort_values(by='IMR')[:10]

           Nation   IMR
0          Monaco  1.81
0           Japan  2.13
0         Bermuda  2.48
0          Norway  2.48
0       Singapore  2.53
0          Sweden  2.60
0  Czech Republic  2.63
0       Hong Kong  2.73
0           Macao  3.13
0         Iceland  3.15

In [3]:
#Solution 2
census_df = pd.DataFrame(columns=['City','Census'])
for element in mondial_DB.iterfind('country'):
    for subelement in element.getiterator('city'):
        if subelement.find('population') is not None:
            inner_df=pd.DataFrame([[subelement.find('name').text,subelement.find('population').text]],
                                  columns=['City','Census'])
            census_df = census_df.append(inner_df)
            
census_df['Census']=pd.to_numeric(census_df['Census']) #,errors='coerce')
census_df.sort_values(by='Census',ascending=False)[:10]

               City    Census
0             Seoul  10229262
0            Mumbai   9925891
0         São Paulo   9412894
0           Jakarta   8259266
0          Shanghai   8205598
0  Ciudad de México   8092449
0            Moskva   8010954
0             Tokyo   7843000
0           Beijing   7362426
0             Delhi   7206704

In [4]:
#Exercise 3 - Not sure what is asked here

In [16]:
#Exercise 4 
#4. name and country of a) longest river, b) largest lake, c) airport at highest elevation
river_country_name=None
river_name=None
river_length=0
for element in mondial_DB.iterfind('river'):
    if element.find('length') is not None:
        if river_length < float(element.find('length')):
            river_country_name=element.attrib['country']
            river_name=element.attrib['id']
            river_length=float(element.find('length').text)

print ('The longest river is %s with length of %d in %s country' %(river_name, river_country_name, river_length))

TypeError: float() argument must be a string or a number, not 'xml.etree.ElementTree.Element'